/*GERAL*/
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ysabeau Infant', sans-serif;
}

/*LOGO*/
.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color:#5185AD;
}

video {
 
}

.pai-l {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.container {
  width: 215px;
  height: 215px;
  background: linear-gradient(90deg, #ffdf00, #009c3b);
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.perfil {
  width:200px;
  height:200px;
  background-color: #000000;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  

h1 {
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 65px;
  text-shadow: 3px 6px 1px #000000;
}

74

Olá Daniel
ir para seu perfil
Adicione um usuário
com desconto
Seja um parceiro e ganhe até R$120
Meus
Cursos
Meus
Certificados
Meus
Exercícios
Minhas
Anotações
Minhas
Dúvidas
Favoritos e
Concluídos
Listas de Estudos
Minha
Assinatura
Editar Cadastro
Alterar Foto
Logout
Dark Mode
Voltar
Projeto Passo a Passo Front-End - LinkBio do Neymar Jr.: Dicas de Implementação
Comente
/* Estilo Global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ysabeau Infant', sans-serif;
}

.secao-banner {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.secao-banner video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-info {
  width: 768px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
}

/* Estilo da imagem de perfil e do titulo */
.imgPerfil-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.imgPerfil {
  width: 200px;
  height: 200px;
  border-radius: 100%;

  background-image: url('./assets/neymar.jpg');
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imgPerfil::before {
  content: "";
  position: absolute;
  width: 215px;
  height: 215px;
  background: linear-gradient(90deg, #ffdf00, #009c3b);
  z-index: -1;
  border-radius: 100%;
}

.imgPerfil-titulo h1 {
  position: relative;
  font-size: 50px;
  color: #fff;
  text-shadow: 2px 6px 3px #000000;
}

h1::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 5px;
  background: linear-gradient(90deg, #ffdf00, #009c3b);
  bottom: 2px;
  left: 5px;
  border-radius: 4px;
}

.imgPerfil-titulo h1::after {
  content: "";
  position: absolute;
  bottom: 12px;
  right: -20px;
  background-image: url(./assets/verificado.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}


/* Estilo dos links */
.links {
  max-width: 768px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.links a {
  width: 100%;
  padding: 10px;

  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;

  border-radius: 20px;
  background-color: #0200006e;
  color: #fff;
}

.links a:hover {
  background-color: #fff;
  color: #000;
}

.links a p {
  width: 90%;
}

.links a img {
  width: 30px;
}


/*ESTATÍSTICAS*/
.estatisticas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

table {
  width: 768px;
}

h2 {
  margin-bottom: 40px;
  color: #FFFFFF;
  font-size: 65px;
  text-shadow: 3px 6px 1px #000000;
}

th {
  color: #FFFFFF;
}

th, td {
  padding: 20px;
  text-align: center;
  margin: 5px
}

tr:nth-child(odd) {
  background-color: #000000DE;
  color: #FFFFFF;
}

tr:nth-child(even) {
  background-color: #FFFFFFDE;
  color:#000000;
}

.estatisticas {
  background-image: url("/assets/imagens /imagem-de-fundo.jpg");
  background-size: cover;
}